body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(25, 25, 25);
}

.changingState {
    background-color: rgb(25, 25, 25);
}